$arrow-svg: url("../../assets/svg/button-arrow.svg")
%btn-arrow-icon
  content: ""
  @apply inline-block w-5 h-[17px] shrink-0
  background-color: currentColor
  -webkit-mask-image: $arrow-svg
          mask-image: $arrow-svg
  -webkit-mask-repeat: no-repeat
          mask-repeat: no-repeat
  -webkit-mask-position: center
          mask-position: center
  -webkit-mask-size: contain
          mask-size: contain


$footer-mask-mobile:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 394 463' fill='none'%3E%3Cpath fill='%23fff' d='M0 0s107.386 5.713 199.443 38.432S393 71.15 393 71.15l.5 391.35H0z'/%3E%3C/svg%3E")
$footer-mask-tablet:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 834 1003' fill='none'%3E%3Cpath fill='%23fff' d='M834 1002.5H0v-989S218-3.5 428 37 834 0 834 0z'/%3E%3C/svg%3E")
$footer-mask-desktop: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 1923 1007' fill='none'%3E%3Cpath fill='%23fff' d='M896.253 49.269c323.697 40.336 522.127 40.789 831.887-19.787C1807.46 13.969 1870.57 4.552 1922.5 0l-1.5 1006.67H0L.5 30.02s41.89-6.146 64.608-9.733C279.243-13.518 572.557 8.933 896.253 49.269'/%3E%3C/svg%3E")


.footer-main
  &__figure
    display: flex
    flex-direction: column
    overflow: hidden
    -webkit-mask-image: $footer-mask-mobile
    mask-image: $footer-mask-mobile
    -webkit-mask-size: 100% 100%
    mask-size: 100% 100%
    -webkit-mask-repeat: no-repeat
    mask-repeat: no-repeat

    @media (min-width: 768px)
      -webkit-mask-image: $footer-mask-tablet
      mask-image: $footer-mask-tablet

    @media (min-width: 1024px)
      -webkit-mask-image: $footer-mask-desktop
      mask-image: $footer-mask-desktop

  &__picture
    display: flex
    flex: 1

.footer-menu
  &__list
    &-1, &-2, &-3
      @apply font-raleway
      li:not(:last-child)
        @apply mb-6
    &-1
      @apply text-[17px] font-semibold leading-normal tracking-[-0.02125rem]
    &-2
      @apply text-[14px] font-medium leading-normal tracking-[-0.0175rem]
      li:nth-child(1)
        @apply text-[17px] font-semibold leading-normal tracking-[-0.02125rem]
    &-3
      @apply text-[14px] font-medium leading-normal tracking-[-0.0175rem]
    &-4
      @apply font-raleway
      .footer-item
        &__title
          @apply text-[17px] font-semibold leading-normal tracking-[-0.02125rem]
        &__text
          @apply text-[14px] font-medium leading-normal tracking-[-0.0175rem]
.footer-cols
  a:not(.social-link)
    @apply gap-2 bg-transparent text-Black inline-flex items-center cursor-pointer transition-colors duration-200 ease-in-out
    &::after
      @extend %btn-arrow-icon
      @apply opacity-0 transition-opacity duration-200 ease-in-out

    &:hover,
    &:active
      @apply text-Red
      &::after
        @apply opacity-100

.footer-copyright
  &__menu
    @apply flex justify-center md:justify-end xl:grid xl:grid-cols-4 gap-8 sm:gap-12 xl:gap-8 md:pr-9 xl:pr-0

    li
      @apply m-0 p-0

    a
      @apply font-raleway text-xs font-semibold tracking-[-0.015rem]
      &:hover
        @apply text-Red

.social-links
  @apply flex