.mega-menu
  @apply fixed top-5 right-0 bottom-14 z-[61]
  width: calc(97vw)
  clip-path: inset(0 0 0 100%)

  @media (min-width: 768px)
    width: calc(85vw)

  @media (min-width: 1280px)
    width: calc(65vw + 150px)

  &__wave
    @apply absolute top-0 bottom-0 pointer-events-none block
    left: 0
    width: 150px

    svg
      @apply block w-full
      height: 100%

  &__inner
    @apply relative h-full flex flex-col bg-Mint overflow-hidden ml-20 md:ml-[147px] pt-7 pr-6 pb-10 pl-7 md:pt-9 md:pr-12 md:pb-[52px] md:pl-[52px] xl:pt-12 xl:pr-16 xl:pb-16 xl:pl-[72px] 
    padding: 28px 24px 40px 28px

  &__topbar
    @apply flex items-end justify-end gap-12 flex-shrink-0 pr-8 pt-[14px]

    .language-selector a,
    .language-selector span
      @apply text-white transition-colors duration-200

    .language-selector .wpml-ls-item:not(:last-child)::after
      @apply text-white

  &__close
    @apply flex items-center justify-center cursor-pointer bg-transparent border-0 mb-1 p-0 text-white transition-opacity duration-200

    &:hover
      @apply opacity-50

    svg
      @apply block
      width: 28px
      height: 30px

  &__cols
    @apply flex flex-col xl:flex-row gap-3 md:gap-7 xl:gap-12 mt-6 md:my-auto

  &__col
    @apply flex flex-col

    &--primary
      @apply flex-1

    &--secondary
      @apply flex-1

  &__list
    @apply list-none m-0 p-0 flex flex-col gap-3 md:gap-7 xl:gap-12

    li
      @apply m-0 p-0

    a
      @apply inline-flex items-center gap-3 font-raleway text-xl md:text-2xl font-medium text-white  md:leading-normal tracking-[0.03125rem]
      transition: color 0.2s ease-in

      @media (min-width: 768px)
        font-size: 28px

      @media (min-width: 1280px)
        font-size: 32px

      &::after
        @extend %btn-arrow-icon
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='17' viewBox='0 0 31 17' fill='none'%3E%3Cpath d='M13.6394 4.95379C17.7041 3.57604 15.0846 0.418682 17.6137 0.0168392C19.016 -0.205953 21.9956 1.82167 25.1956 3.74824C27.7675 5.29659 30.666 6.86343 30.9761 8.39817C31.318 10.0898 27.9222 11.551 24.8343 13.4499C21.6348 15.4175 18.8083 17.4962 17.6134 16.8943C15.2652 15.7115 17.6137 12.5888 12.8264 11.8425C4.697 10.8092 -5.16121e-07 11.0963 -7.51996e-07 8.39817C-9.87871e-07 5.70007 9.57465 6.33154 13.6394 4.95379Z' fill='white'/%3E%3C/svg%3E")
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='17' viewBox='0 0 31 17' fill='none'%3E%3Cpath d='M13.6394 4.95379C17.7041 3.57604 15.0846 0.418682 17.6137 0.0168392C19.016 -0.205953 21.9956 1.82167 25.1956 3.74824C27.7675 5.29659 30.666 6.86343 30.9761 8.39817C31.318 10.0898 27.9222 11.551 24.8343 13.4499C21.6348 15.4175 18.8083 17.4962 17.6134 16.8943C15.2652 15.7115 17.6137 12.5888 12.8264 11.8425C4.697 10.8092 -5.16121e-07 11.0963 -7.51996e-07 8.39817C-9.87871e-07 5.70007 9.57465 6.33154 13.6394 4.95379Z' fill='white'/%3E%3C/svg%3E")
        @apply w-[31px] h-[17px] opacity-0 ml-4
        background-color: #E02E52
        transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1)

      &:hover,
      &:active
        @apply text-Red

        &::after
          @apply opacity-100

    .current-menu-item > a,
    .current-page-ancestor > a
      @apply font-semibold

  &__cta
    @apply hidden xl:flex xl:mt-[3.15rem] xl:self-start xl:border-white

.mega-menu-overlay
  @apply fixed inset-0 z-[60]
  background: rgba(19, 19, 19, 0.45)
  opacity: 0
  pointer-events: none
  transition: opacity 0.4s ease

  &.is-visible
    opacity: 1
    pointer-events: auto
